main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 60px;
}
.no-entry-message {
    margin-top: 100px;
}
#sortEntry {
    position: fixed;
    width: 200px;
    height: 33.5px;
    top: 12%;
    z-index: 80;
    cursor: pointer;
    right: 220px;
    color: gray;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition-duration: 0.4s;
}
#sortEntry option {
    cursor: pointer;
}
#searchEntry {
    position: fixed;
    width: 190px;
    height: 30px;
    padding-left: 10px;
    top: 12%;
    z-index: 80;
    cursor: pointer;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition-duration: 0.4s;
}
section {
    height: auto;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.book-list {
    height: auto;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
article {
    height: 27rem;
    padding-bottom: 20px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid navy;
    background-color: white;
    color: rgb(51, 51, 51);
    opacity: 0; 
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards; 
}
.listImageContainer {
    position: relative;
}
.showListImg {
    height: 23.2rem;
    width: 100%;
    display: block;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color:black;
    object-fit: contain;
}
.showListTitle {
    height: 32px;
    max-height: 32px;
    min-height: 32px;
    width: 90%;
    margin-top: 3px;
    margin-left: 5%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 130%;
}
.showListRating {
    float: left;
    height: 6.3%;
    margin: 1% 0 5px 2%;
    padding-top: 1.2%;
    font-size: 90%;
    text-align: center;
    cursor: pointer;
    width: 96%;
}
.showListCounter {
    float: left;
    height: 6.3%;
    margin: 1% 0 5px 2%;
    padding-top: 1.2%;
    font-size: 90%;
    text-align: center;
    cursor: pointer;
    width: 96%;
}
.deleteEntry button {
    position: absolute;
    top: 7px;
    right: 12px;
    height: 1.4rem;
    color:white;
    background-color: rgba(255, 0, 0, 0.7);
    width: 1.4rem;
    cursor: pointer;
    padding-left: -1px;
    border-radius: 50%;
    border-style: none;
    transition: 0.4s;
}
.deleteEntry button:hover {
    background: red;
}
.deleteEntry button:active {
    background: rgb(174, 1, 1);
}
.listImageContainer {
    position: relative;
}
.topFlex {
    position: absolute;
    display: flex;
    top: 10px;
    left: 5px;
    gap: 5px;
}
.openPopupBtn {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    transition: 0.4s;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10; 
}
.openPopupBtn span {
    margin-left: -1px;
}
.openPopupBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.counter {
    text-align: center;
    width: 32px;
    margin-top: 0;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    transition: 0.4s;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    z-index: 10; 
}
.entryPopup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popupContent {
    background: white;
    width: 95%;
    min-height: 50%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    position: relative;
    border: 0.15rem solid rgb(209, 209, 209);
}
.popupContent h2{
    margin-top: 50px;
}
.popupContent p {
    display: flex;
    flex-wrap: wrap;
    font-size: 120%;
    padding: 0 10px 0 10px;
}
.popupImageContent {
    background: white;
    display: flex;
    flex-direction: column;
    width: 95%;
    min-height: 65%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    position: relative;
    border: 0.15rem solid rgb(209, 209, 209);
}
.popupImageContent form {
    margin-top: 12%;
}
.closePopup button {
    position: absolute;
    top: 7px;
    right: 12px;
    height: 1.4rem;
    background-color: white;
    width: 1.4rem;
    cursor: pointer;
    padding-left: -1px;
    border-radius: 50%;
    border-style: none;
    transition: 0.4s;
}
.editableTimesPlayed {
    cursor: pointer;
}
.editableNotes {
    cursor: pointer;
    margin-left: 3px;
}
.closePopup button:hover {
    background: red;
}
.closePopup button:active {
    background: rgb(174, 1, 1)
}

.editTitleInput, .editRatingInput {
    width: auto;
    min-width: 60px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.4s;
}

.imageUpdatePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.imageUpdatePopup .popupContent {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    max-width: 90%;
}


/* POPUP */

#bookListFullPage {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 85;
    background-color: rgba(0, 0, 0, 0.5);
}
#bookListPopup {
    position: fixed;
    display: none;
    height: 99%;
    width: 30%;
    left: 35%;
    background-color: white;
    color: rgb(51, 51, 51);
    border: 0.15rem solid rgb(155, 155, 155);  
    z-index: 87;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#pdf-canvas {
    display: block;
    width: 100%; 
    height: auto;
    margin: auto; 
    border: 1px solid black; 
    cursor: pointer;
    max-width: 80%;
    max-height: 90%;
    margin-bottom: 10px;
}
.bookfileupload {
    display: block;
    width: 200px;
    background-color: #d3d3d3;
    border: none; 
    color: black;
    margin: auto auto 5px auto;
    padding: 0.7rem;
    border-style: none;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    transition-duration: 0.4s;
}
#pdf-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 9999;
    display: none; 
}
.close-pdf-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.8); 
    color: white;
    border: none;
    border-radius: 50%;
    padding: 2px 2px 0 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    z-index: 10000; 
    transition-duration: 0.4s;
}
.close-pdf-button:hover {
    background-color: rgba(255, 0, 0, 1); 
}
.close-pdf-button:active {
    background-color: rgba(179, 0, 0, 1); 
}
canvas {
    min-height: 510px;
}

/* Footer */

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    z-index: 4;
}
footer button {
    display: block;
    width: 200px;
    background-color: #d3d3d3;
    border: none; 
    color: rgb(51, 51, 51);
    margin: auto;
    padding: 0.7rem;
    border-style: none;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    transition-duration: 0.4s;
}
footer button:hover {
    background-color: #c0c0c0;
}
footer button:active {
    background-color: #a9a9a9;
}
#addContentFullPage {    
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 85;
    background-color: rgba(0, 0, 0, 0.5);
}
#addContentPopup {
    position: fixed;
    display: none;
    min-height: 45%;
    height: auto;
    width: 30%;
    border-radius: 10px;
    padding-left: 0;
    background-color: white;
    color: rgb(51, 51, 51);
    border: 0.15rem solid rgb(209, 209, 209);  
    z-index: 7;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-sizing: border-box;
}
.newEntrySubmitButton {
    background-color: #d3d3d3;
    border: none; 
    color: black;
    display: block;
    font-weight: bold;
    width: 200px;
    padding: 10px 0; 
    font-size: 16px;           
    border-radius: 5px; 
    margin: auto auto 10px auto;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.newEntrySubmitButton:hover {
    background-color: #c0c0c0;
}
.newEntrySubmitButton:active {
    background-color: #a9a9a9;
}
.closeAddContent {
    float: right;
    height: auto;
    width: 99%;
    margin-bottom: 2.3rem;
}
.closeAddContentButton {
    float: right;
    height: 1.4rem;
    border-style: none;
    background-color: white;
    color: rgb(51, 51, 51);
    border-top-right-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.closeAddContentButton:hover {
    background:red;
}
.closeAddContentButton:after {
    display: inline-block;
    content: "\00d7";
    font-size: 150%;
    font-weight: lighter;
}
.uploadWindowWithLongInput {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 0;
    font-size: 110%;
}
.longInput {
    width: 90%;
    border-style: none;
    border: 3px solid rgb(209, 209, 209);
    border-radius: 5px;
    font-size: 110%;
    padding: 0.4rem;
    cursor: pointer;
    transition-duration: 0.4s;
}
#sortEntry:hover,
#searchEntry:hover,
.longInput:hover {
    background-color: rgb(211, 211, 211);
}
.newEntrySubmit {
    margin-top: 2rem;
    width: 99.5%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    article {
        height: 22rem; 
    }
    .showListTitle {
        height: auto;
    }
    .showListRating {
        margin: -20px 0 0 2%;
    }
    footer button {
        width: 30%;
    }
    #addContentPopup {
        left: 5%;
        width: 90%;
    }
    .showListImg {
        height: 18.2rem;
    }
    .uploadWindowWithLongInput {
        font-size: 90%;
    }
    .longInput {
        width: 80%;
    }
    .newEntrySubmitButton {
        width: 30%;
    }
}