html, body{
    background: rgb(240, 240, 240);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter';
}
h1{
    color: white;
    font-size: 500%;
    text-shadow: 6px 6px #000000;
}
p{
    font-size: 150%;
}

main{
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 4rem;
}
.PageTitle h1{
    color: navy;
    margin-top: 70px;
    font-size: 300%;
    text-shadow: none;
    text-align: center;
    font-weight: 800;
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards; 
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
@media only screen and (max-width: 600px) {
    .PageTitle h1{
        font-size: 180%;
        margin-top: 80px;
    }
}