body, main {
    overflow-y: hidden;
}
.option {
    background-color: white;
    width: 40%;
    margin: 0 0 10px 30%;
    border-radius: 10px;
    border: 3px solid rgb(209, 209, 209);
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards; 
}
.option:hover {
    background-color: rgb(209, 209, 209);
}
h2 {
    text-align: center;
    color: rgb(51, 51, 51);
    padding: 8px;
}