.toDoList {
    display: flex;
    width: 90%;
    margin-left: 5%;
    min-height: 26rem;
    height: auto;
}
.no-tasks-message {
    font-size: 30px;
    color: rgb(51, 51, 51);
    text-align: center;
    margin: 180px 0 20px 0;
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards; 
}
.toDoList-Left {
    width: 60%;
    min-height: 26rem;
    height: auto;
}
.task {
    background-color: white;
    border-radius: 10px;
    color: rgb(51, 51, 51);
    border: 3px solid rgb(209, 209, 209);
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease-in-out;
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards; 
}
.completed-task {
    border-color: rgb(2, 224, 2);
}
.failed-task {
    border: 3px solid red;
}
.taskArea {
    background-color: rgb(209, 209, 209);
    margin: 0 1%;
    width: 97%;
    height: auto;
    border-radius: 10px;
    padding: 1px 4px 5px 4px;
    white-space: normal;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
}
.completeButton {
    margin-top: 4px;
    color: rgb(2, 224, 2);
    background-color: rgb(209, 209, 209);
    text-align: center;        
    display: inline-block;  
    font-size: 16px;           
    border-radius: 5px;
    border-color: rgb(209, 209, 209);
    height: 33px;
    padding: 0 6px;       
    cursor: pointer;           
    transition: background-color 0.3s ease;  
}
.deleteButton {
    color: red;
    margin-left: 5px;   
}
.completeButton:hover {
    background-color: rgb(196, 196, 196);
}
.completeButton:active {
    background-color: rgb(156, 156, 156);
}
.timeArea {
    background-color: rgb(209, 209, 209);
    margin: 4px 1% 4px 1%;
    width: 35%;
    height: auto;
    border-radius: 10px;
    padding: 1px 4px 5px 4px;
    white-space: normal;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
}
.timeArea p,
.taskArea p {
    font-size: 100%; 
    margin: 4px;
}
.toDoList-Right {
    width: 30%;
    margin-left: 5%;
    min-height: 26rem;
}
.toDoList-Form {
    width: 99%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    height: 89%;
    border: 3px solid rgb(209, 209, 209);
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards; 
}
.toDoListTitle {
    color: rgb(51, 51, 51);
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid rgb(209, 209, 209);
}
.toDoList-Form textarea {
    width: 80%;
    min-height: 80px;
    max-height: 80px;
    max-width: 80%;
    min-width: 80%;
    padding: 10px;
    margin: 10px 0 0 7.6%;
    border-radius: 5px;
    font-family: 'Inter';
    transition: background-color 0.3s ease;
}
.toDoList-Form textarea:hover {
    background-color: rgb(211, 211, 211);
}
.toDoList-Form label {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: rgb(51, 51, 51);
}
.toDoList-Form input {
    width: 40%;
    padding: 10px;
    margin: 10px 0 0 27%;
    border-radius: 5px;
    font-family: 'Inter';
    transition: background-color 0.3s ease;
}
.toDoList-Form input:hover {
    background-color: rgb(211, 211, 211);
}
.toDoList-Form button {
    width: 200px;
    margin: 10px 0 20px 28%;
    background-color: #d3d3d3; 
    border: none;                       
    padding: 10px 0;    
    text-align: center;        
    display: inline-block;     
    font-size: 16px;           
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}
.toDoList-Form button:hover {
    background-color: #c0c0c0;
}
.toDoList-Form button:active {
    background-color: #a9a9a9;
}