header {
    width: 100%;
    position: fixed;
    color: rgb(51, 51, 51);
    height: 10%;
    background-color: white;
    top: 0;                  
    left: 0;
    z-index: 6;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
}
#pageTitle {
    height: 80%;
    display: flex;
    padding: 1.5rem 0 0 2rem;
    font-weight: bold;
    width: 10%;
    font-size: 150%;
    cursor: pointer;        
}
#pageTitle a { 
    color: rgb(51, 51, 51);        
    text-decoration: none;
    font-family: 'Inter';
}
#pointArea {
    margin: -5.4rem 0 0 92rem;
    display: flex;
    font-family: 'Inter';
}
#pointArea img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.topBarProfilePicture {
    background-color: rgb(184, 184, 184);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 14px 0 0 10px;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
    #pageTitle {
        font-size: 120%;       
    }
    #pointArea {
        margin: -4rem 0 0 13.5rem;
        font-size: 60%;
    }
    .topBarProfilePicture {
        background-color: rgb(184, 184, 184);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 0 0 10rem;
    }
    #pointArea img {
        width: 40px;
        height: 40px;
    }
}