html, body{
    background: navy;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter'
}
h1{
    color: white;
    font-size: 500%;
    text-shadow: 6px 6px #000000;
}
i {
    position: fixed;
    margin: 2.4rem 0 0 19.7rem;
    cursor: pointer;
}
.PageTitle{
    margin-top: -2rem;
    text-align: center;
}
.InputWindows{
    display: flex;
}
.Explanation{
    width: 25%;
    margin: 4rem;
    margin-left: 5rem;
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;   
    text-align: center;
    color: white;
}
.Registration{
    width: 25%;
    height: 25rem;
    margin: 4rem;
    background: white;
    border-radius: 10px;
}
.RegistrationTitle{
    text-align: center;
}
.RegistrationInput{
    width: 80%;
    height: 60%;
    margin-left: 10%;
}
.RegistrationInput input{
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    border: none;
    border-bottom: 2px solid black;
    font-size: 120%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.RegistrationInput input:hover{
    background-color: rgb(211, 211, 211);
}
.RegistrationInputPassword{
    display: flex;
    width: 101%;
}
.RegistrationLink{
    width: 105%;
    text-align: right;
    color: blue;              
    text-decoration: underline; 
    cursor: pointer;       
}
.RegistrationLink a:hover{
    color: rgb(2, 2, 197);                   
}
.RegistrationButton{
    display: flex;
    justify-content: center;
}
.RegistrationButton button{
    background-color: #d3d3d3; 
    border: none;                       
    padding: 10px 20px;      
    text-align: center;        
    display: inline-block;     
    font-size: 16px;           
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}
.RegistrationButton button:hover{
    background-color: #c0c0c0;
}
.RegistrationButton button:active{
    background-color: #a9a9a9;
}
.OpenFeatures button{
    position: fixed;
    top: 5rem;
    left: 1rem;
    border-radius: 10px;
    width: 10rem;
    color:white;
    height: 2rem;
    background: rgb(68, 68, 68);
    cursor: pointer; 
    transition: background-color 0.3s ease;
}
.OpenFeatures button:hover{
    background: rgb(140, 140, 140);
}
.OpenFeatures button:active{
    background: rgb(217, 217, 217);
}
.footer{
    width: 100%;
    text-align: right;
    color: white;
}
.footer p{
    font-size: 100%;
    margin-right: 1rem;
}
.material-symbols-outlined{
    margin-right: 1rem;
}
#ErrorArea1{
    width: 80%;
    margin-left: 9%;
    height: 3rem;
    padding: 1.9rem;
}
#ErrorArea1 p{
    color: red;
    font-size: 80%;
}
#ErrorArea2{
    width: 80%;
    margin-left: 9%;
    height: 3rem;
    padding: 7px;
}
#ErrorArea2 p{
    color: red;
    font-size: 80%;
}
/* Feature Sidebar */
#FeatureSidebar{
    position: fixed;
    top: 0;
    left: -400rem;
    background: rgb(68, 68, 68);
    width: 40%;
    height: 100vh;
    z-index: 1000;
    transition: all 0.2s ease;
}
#FeatureSidebar-Content{
    height: auto;
}
#FeatureSidebarCloseButtonArea{
    width: 100%;
    margin-top: 1rem;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#CloseButton{
    height: 1.3rem;
    margin-left: 95%;
    background: rgb(68, 68, 68);
    color: white;
    border-radius: 0.2rem;
    border-style: none;
    cursor: pointer;
    transition: 0.4s;
}
#CloseButton:hover{
    background: red
}
#FeatureSidebarTitle{
    text-align: center;
    width: 100%;
    height: 5rem;
    color: white;
}
.FeatureSidebarMessage{
    width: 95%;
    margin-left: 2.5%;
    min-height: 5rem;
    margin-top: 10px;
    background: rgb(58, 58, 58);
    max-height: auto;
    border-style: solid;
    color: white;
    border-color: rgb(24, 24, 24);
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
}
.FeatureSidebarMessageDate{
    width: 95%;
    margin-left: 2.5%;
    text-align: right;
}
.FeatureSidebarMessageDate p{
    font-size: 90%;
    margin-right: 1rem;
}
.FeatureSidebarMessageTitle{
    display: flex;
    width: 95%;
    background-color: rgb(46, 46, 46);
    margin-left: 2.5%;
    height: 2rem;
    align-items: center;
    border-radius: 10px;
}
.FeatureSidebarMessageTitle p{
    font-size: 110%;
    margin-left: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    white-space: normal;
    overflow-wrap: break-word;
}
.FeatureSidebarMessageText{
    width: 95%;
    background-color: rgb(46, 46, 46);
    margin-left: 2.5%;
    border-radius: 10px;
    min-height: 3rem;
    max-height: auto;
    margin-bottom: 1rem;
}
.FeatureSidebarMessageText p{
    font-size: 100%;
    margin-left: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    white-space: normal;
    overflow-wrap: break-word;
}
/* Forgot Password */
#forgotPasswordFullArea{
    position: fixed;
    display: none;
    top: 0;
    width:  100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#forgotPasswordArea{
    display: none;
    width: 30rem;
    height: 20rem;
    background-color: rgb(68, 68, 68); 
    border-radius: 10px;
    z-index: 88888;  
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}
#ForgotPasswordCloseButtonArea{
    width: 98%;
    margin-top: 1rem;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#CloseForgotPasswordButton{
    height: 1.3rem;
    margin-left: 90%;
    background: rgb(68, 68, 68);
    color: white;
    border-radius: 0.2rem;
    border-style: none;
    cursor: pointer;
    transition: 0.4s;
}
#CloseForgotPasswordButton:hover{
    background: rgb(140, 140, 140);
}
#ForgotPasswordTitle{
    text-align: center;
    width: 100%;
    height: 3rem;
    color: white;
}
.ForgotPasswordInfo{
    width: 80%;
    color: white;
    margin-left: 10%;
    height: auto;
}
.ForgotPasswordInfo p{
    font-size: 100%;
}
.ForgotPasswordInput{
    width: 80%;
    height: 40%;
    margin-left: 10%;
}
.ForgotPasswordInput input{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Inter';
    font-size: 120%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.ForgotPasswordInput input:hover {
    background-color: rgb(211, 211, 211);
}
#ForgotPassowrdConfirmationButton{
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#ForgotPassowrdConfirmationButton button{
    background-color: #d3d3d3; 
    border: none;            
    color: #000;              
    padding: 10px 20px;      
    text-align: center;      
    text-decoration: none;    
    display: inline-block;     
    font-size: 16px;           
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}
#ForgotPassowrdConfirmationButton button:hover{
    background-color: #c0c0c0;
}
#ForgotPassowrdConfirmationButton button:active{
    background-color: #a9a9a9;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 200%;
    }
    .PageTitle{
        margin-top: 2rem;
    }
    .InputWindows{
        display: block;
    }
    .Explanation{
       margin: 140px auto;
    }
    .OpenFeatures button{
        top: 7rem;
    }
    .Registration{
        width: 80%;
        padding-top: 20px;
        margin: 4rem auto;
    }
    #forgotPasswordArea{
        width: 20rem;
    }
    #ForgotPasswordCloseButtonArea{
        width: 96%;
    }
    .footer {
        font-size: 70%;
    }
    #FeatureSidebar{
        width: 100%;
    }
    #FeatureSidebarCloseButtonArea{
        width: 98%;
    }
}