html, body{
    background: rgb(240, 240, 240);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter'
}
h1{
    color: rgb(51, 51, 51);
    font-size: 500%;
    margin-top: 77px;
}
i {
    position: fixed;
    margin: 2.4rem 0 0 19.7rem;
    cursor: pointer;
}
.PageTitle{
    margin-top: -2rem;
    text-align: center;
}
.InputWindows{
    display: flex;
}
.Explanation{
    width: 25%;
    margin: 4rem;
    margin-left: 5rem;
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;   
    text-align: center;
    color: rgb(51, 51, 51);
}
.Registration{
    width: 25%;
    height: 25rem;
    margin: 4rem;
    background: white;
    border-radius: 10px;
}
.RegistrationTitle{
    text-align: center;
}
.RegistrationInput{
    width: 80%;
    height: 60%;
    margin-left: 10%;
}
.RegistrationInput input{
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    border: none;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 120%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.RegistrationInput input:hover{
    background-color: rgb(211, 211, 211);
}
.RegistrationInputPassword{
    display: flex;
    width: 101%;
    height: 130px;
}
.RegistrationInputPassword2{
    display: flex;
    width: 101%;
    height: 66px;
}
.RegistrationButton{
    display: flex;
    justify-content: center;
}
.RegistrationButton button{
    background-color: #d3d3d3; 
    border: none;                       
    padding: 10px 20px;      
    text-align: center;        
    display: inline-block;     
    font-size: 16px;           
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}
.RegistrationButton button:hover{
    background-color: #c0c0c0;
}
.RegistrationButton button:active{
    background-color: #a9a9a9;
}
.OpenFeatures button{
    position: fixed;
    top: 5rem;
    left: 1rem;
    border-radius: 10px;
    width: 10rem;
    color:rgb(51, 51, 51);
    height: 2rem;
    background: white;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}
.OpenFeatures button:hover{
    background: rgb(140, 140, 140);
}
.OpenFeatures button:active{
    background: rgb(217, 217, 217);
}
.footer{
    width: 100%;
    text-align: right;
    color: white;
}
.footer p{
    font-size: 100%;
    margin-right: 1rem;
}
.material-symbols-outlined{
    margin-right: 1rem;
}
#ErrorArea1{
    width: 80%;
    margin-left: 9%;
    height: 3rem;
}
#ErrorArea1 p{
    color: red;
    font-size: 80%;
}
#ErrorArea2{
    width: 80%;
    margin-left: 9%;
    height: 3rem;
}
#ErrorArea2 p{
    color: red;
    font-size: 80%;
}
/* Feature Sidebar */
#FeatureSidebar{
    position: fixed;
    top: 0;
    left: -400rem;
    background: white;
    width: 40%;
    height: 100vh;
    z-index: 1000;
    transition: all 0.2s ease;
}
#FeatureSidebar-Content{
    height: auto;
}
#FeatureSidebarCloseButtonArea{
    width: 100%;
    margin-top: 1rem;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#CloseButton{
    height: 1.3rem;
    margin-left: 95%;
    background: white;
    color: rgb(51, 51, 51);
    border-radius: 0.2rem;
    border-style: none;
    cursor: pointer;
    transition: 0.4s;
}
#CloseButton:hover{
    background: red
}
#FeatureSidebarTitle{
    text-align: center;
    width: 100%;
    height: 5rem;
    color: rgb(51, 51, 51);
}
.FeatureSidebarMessage{
    width: 95%;
    margin-left: 2.5%;
    min-height: 5rem;
    margin-top: 10px;
    background: white;
    max-height: auto;
    border-style: solid;
    color: rgb(51, 51, 51);
    border-color: rgb(209, 209, 209);
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
}
.FeatureSidebarMessageDate{
    width: 95%;
    margin-left: 2.5%;
    text-align: right;
}
.FeatureSidebarMessageDate p{
    font-size: 90%;
    margin-right: 1rem;
}
.FeatureSidebarMessageTitle{
    display: flex;
    width: 95%;
    background-color: rgb(209, 209, 209);
    margin-left: 2.5%;
    height: 2rem;
    align-items: center;
    border-radius: 10px;
}
.FeatureSidebarMessageTitle p{
    font-size: 110%;
    margin-left: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    white-space: normal;
    overflow-wrap: break-word;
}
.FeatureSidebarMessageText{
    width: 95%;
    background-color: rgb(209, 209, 209);
    margin-left: 2.5%;
    border-radius: 10px;
    min-height: 3rem;
    max-height: auto;
    margin-bottom: 1rem;
}
.FeatureSidebarMessageText p{
    font-size: 100%;
    margin-left: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    white-space: normal;
    overflow-wrap: break-word;
}
/* Forgot Password */
#forgotPasswordFullArea{
    position: fixed;
    display: none;
    top: 0;
    width:  100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#forgotPasswordArea{
    display: none;
    width: 30rem;
    height: 20rem;
    background-color: rgb(68, 68, 68); 
    border-radius: 10px;
    z-index: 88888;  
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}
#ForgotPasswordCloseButtonArea{
    width: 98%;
    margin-top: 1rem;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#CloseForgotPasswordButton{
    height: 1.3rem;
    margin-left: 90%;
    background: rgb(68, 68, 68);
    color: white;
    border-radius: 0.2rem;
    border-style: none;
    cursor: pointer;
    transition: 0.4s;
}
#CloseForgotPasswordButton:hover{
    background: rgb(140, 140, 140);
}
/*Terms & Conditions*/
#TermsFullArea{
    position: fixed;
    top: 0;
    width:  100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
#TermsArea{
    width: 35rem;
    height: 42rem;
    background-color: white;
    z-index: 88888;  
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}
#TermsTitle{
    text-align: center;
    width: 100%;
    margin-top: 4px;
    height: 3rem;
    color: rgb(51, 51, 51);
}
#Terms{
    width: 80%; 
    height: 60vh;
    margin: 10px auto; 
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}
#TermsButtons{
    display: flex;
    width: 80%; 
    margin: 10px auto; 
}
#TermsButtons button,
#TermsButtons a{
    background:white;
    padding: 18px 50px;
    font-size: 16px;  
    border: 1px solid rgb(51, 51, 51);
    margin:auto;
    text-decoration: none;  
    color: rgb(51, 51, 51);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    h1{
        font-size: 200%;
    }
    .PageTitle{
        margin-top: 2rem;
    }
    .InputWindows{
        display: block;
    }
    .Explanation{
       margin: 140px auto;
    }
    .OpenFeatures button{
        top: 7rem;
    }
    .Registration{
        width: 80%;
        padding-top: 20px;
        margin: 4rem auto;
    }
    .footer {
        font-size: 70%;
    }
    #FeatureSidebar{
        width: 100%;
    }
    #FeatureSidebarCloseButtonArea{
        width: 98%;
    }
}