#TopBar{
    width: 100%;
    position: absolute;
    background-color: navy;
    color: white;
    height: 10%;
    top: 0;                  
    left: 0;
    z-index: 1000;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
}
#PageTitle{
    height: 80%;
    display: flex;
    padding-left: 2rem;
    padding-top: 1.5rem;
    font-weight: bold;
    width: 40%;
    font-size: 150%;
    cursor: pointer;        
}
#PageTitle a{
    color: white;         
    text-decoration: none;
    font-family: 'Inter';
}
#PointArea{
    margin-left: 96rem;
    margin-top: -5.4rem;
}