#TopBar{
    width: 100%;
    position: fixed;
    background-color: navy;
    color: white;
    height: 10%;
    top: 0;                  
    left: 0;
    z-index: 1;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
}
#PageTitle{
    height: 80%;
    display: flex;
    padding-left: 2rem;
    padding-top: 1.5rem;
    font-weight: bold;
    width: 10%;
    font-size: 150%;
    cursor: pointer;        
}
#PageTitle a{
    color: white;         
    text-decoration: none;
    font-family: 'Inter';
}
#PointArea{
    margin-left: 90rem;
    margin-top: -5.4rem;
    display: flex;
}
#PointArea p{
    font-family: 'Inter';
}
.TopBarProfilePicture{
    background:red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 14px;
    margin-left: 10px;
    object-fit: cover;
}
#PointArea img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
    #PageTitle{
        font-size: 120%;       
    }
    #PointArea{
        margin-left: 13.5rem;
        margin-top: -4rem;
        font-size: 60%;
    }
    .TopBarProfilePicture{
        background:red;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 0;
        margin-left: 10px;
    }
    #PointArea img{
        width: 40px;
        height: 40px;
    }
}