html, body{
    background: white;
    margin: 0;
    overflow-x: hidden;
}
h1{
    color: white;
    font-size: 500%;
    text-shadow: 6px 6px #000000;
    font-family: 'Inter'
}
h2{
    font-family: 'Inter';
}
p{
    font-family: 'Inter';
    font-size: 150%;
}